/*      Esse é só um prototipo que fiz até aqui da página de sobre, alterei algumas coisas no CSS original
        pra tentar deixar responsivo, mas acho que vai ser necessário usar Media Query, Grid, eu realmente não sei, aceito sugestões, imploro na verdade.*/
:root {
	--default-green: #1db954;
	--light-green: #1ed760;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    width: 100vw;
}

.cabecalho #parallax {
    display: flex;
    height: 40vh;
    width: 100%;
    background-image: url("../img/about-img-parallax.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.4);
	background-blend-mode: color;
}

.cabecalho #parallax .sub-cabecalho {
    border: solid white;
    border-radius: 8px;
    width: 60%;
    margin: auto;
    text-align: center;
    text-shadow: black 0 -1.5px;
    padding: 11px 12px;
}

.conteudo-pg {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.conteudo-pg .conteudo-pg-container {
    width: 60%;
    margin: 0 auto;
}

.conteudo-pg .paragrafo{
	display: flex;
	text-align: left;
    padding: 15px 0 25px;
}

.conteudo-pg-container .titulo {
    padding: 12px 0;
}

.conteudo-pg-container .subtitulo {
    padding: 12px 0;
}

.cor-destaque {
    color: var(--default-green);
    font-weight: bold;
}

@media (min-width: 1120px) {
    .cabecalho #parallax {
        padding: 5% 0 0 0;
    }
}