*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    color: #ffffff
}

/* header a{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
} */

.logo{
    height: 60px;
    width: auto;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #000000;
}

nav a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li{
    text-align: center;
    width: 100%;
}

nav ul li a{
    display: inline-block;
    padding: 10px;
    width: 100%;
    text-emphasis: none;
    color: #ffffff
}

nav ul li a:hover{
    color: #a71db9;
    cursor: pointer;
}

.section-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.background-section{
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

main section h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    line-height: 1;
}
main section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* flex-wrap: wrap; */
}

.top-artist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    width: 100px;
    margin: 5px;
    background-color: aqua;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    background-color: #000000;
}

.footer-logo{
    height: 45px;
    width: auto;
}

footer a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
}

footer .rights{
    padding: 10px;
    width: 100%;
}

footer .legal-links ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

footer.legal-links ul li{
    text-align: center;
    width: 100%;
}

footer .legal-links ul li a{
    display: inline-block;
    padding: 10px;
    width: 100%;
    text-emphasis: none;
    color: #ffffff
}

footer .legal-links ul li a:hover{
    color: #a71db9;
    cursor: pointer;
}

.socials {
	display: flex;
    align-items: center;
    padding: 0;
}

.socials i {
	margin: 0 20px;
	font-size: 1.7rem;
	transition: all 300ms ease;
}

.socials i:hover {
	color: #a71db9;
	cursor: pointer;
}


@media screen and (min-width: 768px){

    header{
        position: fixed;
        width: 100%;
    } 

    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 80px;
        /* opacity: 40%; */
        color: #ffffff;
    }

    nav a img{
        margin: 250px;

    }

    nav a{
        font-size: 16px;
    }

    nav ul .company-navbar{
        flex-direction: row;
        width: 20%;
    }

    nav ul{
        flex-direction: row;
        width: 40%;
    }

    main section h2{
        font-size: 5rem;
        margin-top: 40px;
    }

    main section div {
        flex-direction: row;
    }

    main section h2{
        font-size: 5rem;
    }
    
    main section div .top-artist{
        flex-direction: row;
        height: 220px;
        width: 220px;
        margin: 8px;
        margin-top: 70px;
    }
}